<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @toopher_terminal.name %>
</p>

<p>
  <b>Cookie value:</b>
  <%= @toopher_terminal.cookie_value %>
</p>


<%= link_to 'Edit', edit_toopher_terminal_path(@toopher_terminal) %> |
<%= link_to 'Back', toopher_terminals_path %>
